[submodule "submods/ActionBarSherlock"]
	path = submods/ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "submods/DataDroid"]
	path = submods/DataDroid
	url = git://github.com/foxykeep/DataDroid.git
[submodule "submods/picasso"]
	path = submods/picasso
	url = git://github.com/square/picasso.git
